<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.windows.forms jitDebugging="true" />
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="VishwasDbConStr" connectionString="Data Source=localhost;Port=3306;Database=vishwasdotnetdb;User Id=root;Password=root" providerName="MySql.Data.MySqlClient"/>		
	</connectionStrings>
</configuration>